head{
    background-color:#33BBCB;
}
body {
    background-color:#33BBCB;
}
h1{
    color: aliceblue;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    background-color: black;
}
li{
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    padding: 8px;
}
.active{
    background-color: #3377FF;
}